.col-lg-9
  - if @communities.present?  
    = sort_link(@search, :created_at)   
    %ul.nav.nav-tabs.mx-3.pt-3
      %li.nav-item
        %a.nav-link.active{"aria-current" => "page", :href => "#"} アクティブ
      %li.nav-item
        %a.nav-link{:href => "#"} リンク1
      %li.nav-item
        %a.nav-link{:href => "#"} リンク2
      %li.nav-item
        %a.nav-link 無効
    %main.container-fluid
      .mb-3.p-3.bg-body.rounded.shadow-sm
        - @communities.each do |community|
          = render 'layouts/parts/community', community: community    

        %small.d-block.text-end.mt-3
          %a{:href => "#"} すべてを表示
        .d-flex.justify-content-end.mt-3  
          = paginate @communities 
  - else
    %h3
      .text-center.my-4
        必要なcommunityを作成しましょう          
      