%header.sticky-top
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %a.navbar-brand{href: "/"} Communicator
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mr-auto
          %li.nav-item
            %a.nav-link.active{:href => "https://ovdss.com/iapps/html_to_haml"} Link
          %li.nav-item
            %a.nav-link{href: communities_path} communities

        %ul.navbar-nav.mb-2.mb-lg-0
          - if user_signed_in?
            %li.nav-item.dropdown-center.my-auto
              %a.d-block.link-body-emphasis.text-decoration-none.text-dark.dropdown-toggle{ href: "#", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
                %img{ src: "https://github.com/mdo.png", alt: "mdo", width: "32", height: "32", class: "rounded-circle" }
                -# %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{:height => "32", :preserveaspectratio => "xMidYMid slice", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
                -#   %title 一般的なプレースホルダ画像
                -#   %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
                -#   %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
              %ul.dropdown-menu.text-small.shadow.dropdown-menu-end
                %li
                  %a.dropdown-item{ href: "#" } 新プロジェクト...
                %li
                  %a.dropdown-item{ href: "#" } 設定
                %li
                  %a.dropdown-item{ href: "#" } プロフィール
                %li
                  %hr.dropdown-divider
                %li
                  %a.dropdown-item{href: destroy_user_session_path, data: {turbo_method: :delete}} logout
          - else
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
              %li.nav-item
                %a.nav-link{href: new_user_registration_path} sign_up
              %li.nav-item
                %a.nav-link{href: new_user_session_path , :tabindex => "-1"} login


          -# - if @communities.present? 
          -#   %form.d-flex
          -#     .form-control.me-2
          -#       = search_form_for @search do |f| 
          -#         -# `カラム名_cont`=カラムに対してLIKEを使った曖昧一致検索
          -#         -# `カラム名_eq`  =カラムに対して完全一致検索
          -#         = f.label :community_name_cont, 'find community'
          -#         = f.search_field :community_name_cont 
          -#         = f.submit           
            
          -# %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          -# %button.btn.btn-outline-success{:type => "submit"} Search
