%header.sticky-top
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %a.navbar-brand{href: "/"} Communicator
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mr-auto
          %li.nav-item
            %a.nav-link.active{:href => "https://ovdss.com/iapps/html_to_haml"} 
              About
          %li.nav-item
            %a.nav-link{href: communities_path} 
              Communities
          %li.nav-item
            %a.nav-link{href: new_community_path}
              = icon_with_text("plus-circle", "New Community")

        %ul.navbar-nav.mb-2.mb-lg-0
          - if user_signed_in?
            %li.nav-item.dropdown-center.my-auto
              %a.d-block.link-body-emphasis.text-decoration-none.text-dark.dropdown-toggle{ href: "#", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
                - if user_signed_in? && current_user.avatar.attached?
                  = image_tag current_user.avatar, style: "width: 40px; height: 40px; border-radius: 50%; object-fit: cover; box-shadow: 0px 0px 4px 0px rgba(145, 143, 143, 0.75);"
                - else
                  = image_tag 'default_avatar.png', style: "width: 32px; height: 32px; border-radius: 50%; object-fit: cover; box-shadow: 0px 0px 4px 0px rgba(145, 143, 143, 0.75);"
              %ul.dropdown-menu.shadow.dropdown-menu-end
                %li
                  %a.dropdown-item{ href: user_path(current_user) } 
                    = current_user.user_name
                %li
                  %hr.dropdown-divider
                %li
                  %a.dropdown-item{ href: "#" } settings
                %li
                  %a.dropdown-item{href: destroy_user_session_path, data: {turbo_method: :delete}} logout
          - else
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
              %li.nav-item
                %a.nav-link{href: new_user_registration_path} sign_up
              %li.nav-item
                %a.nav-link{href: new_user_session_path , :tabindex => "-1"} login

