%side-container
  .mt-5.pt-5
    ※サイドバー実装予定
    %br
    %br
    【転職サイトランキング実装予定】
    %br
    『⭐︎エンジニアの皆様、このサイトを良くする意見を下さい⭐︎』
    %br
    %br
    『⭐︎エンジニアの皆様、おすすめ転職サイトの意見をください⭐︎』
    %br
    %br
    『エンジニアの皆様、サイトの不具合を教えてください」』
    %br
    %br
    『エンジニアの皆様、一緒にこのサイトを作りませんか？』
