.side-container
  .sticky-card-items
    .card-items-top.d-flex.align-items-center.justify-content-center.border-top.border-bottom
      %strong.text-gray-dark.top-text
        for engineers
    %a.text-decoration-none.text-dark{href: "#"}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        『⭐︎エンジニアの皆様、このサイトを良くする意見を下さい⭐︎』
    %a.text-decoration-none.text-dark{href: job_sites_path}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        【転職サイトランキング実装予定】
    %a.text-decoration-none.text-dark{href: "#"}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        『⭐︎エンジニアの皆様、おすすめ転職サイトの意見をください⭐︎』
    %a.text-decoration-none.text-dark{href: "#"}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        『エンジニアの皆様、一緒にこのサイトを作りませんか？』

