.side-container
  .sticky-card-items
    .card-items-top.d-flex.align-items-center.justify-content-center.border-top.border-bottom
      %strong.text-gray-dark.top-text
        For engineers
    %a.text-decoration-none.text-dark{href: new_feedback_path}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        .svg-container
          = embedded_svg('feedback.svg')
        .text-center
          エンジニアの皆様
          %br
            このサイトを良くする意見を下さい！
    .text-decoration-none.text-dark{href: ""}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        -# 【転職サイトランキング実装予定】
        coming soon
    .text-decoration-none.text-dark{href: "#"}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        -# 『⭐︎エンジニアの皆様、おすすめ転職サイトの意見をください⭐︎』
        coming soon
    .text-decoration-none.text-dark{href: "#"}
      .side-menu-card.d-flex.align-items-center.justify-content-center.my-4.border-bottom
        -# 『エンジニアの皆様、一緒にこのサイトを作りませんか？』
        coming soon

