.toast-container
  %div{:style => "position: fixed; top: 2rem; right: 1rem;z-index:999999999"}
    - flash.each do |name, msg|
      .toast.border.rounded-3{class: "toast-#{name.to_s} bg-white text-dark", "aria-atomic" => "true", "aria-live" => "assertive", :role => "alert", data: {autohide: 'false', controller: 'toast'}}
        .toast-body.d-flex
          %i.bi.bi-info-circle-fill.text-muted.me-2
          %strong.text-gray-dark{style: "color: #5b5d5f;"}
            = msg.html_safe
          %button.btn-close.me-1.m-auto{"aria-label" => "閉じる", "data-bs-dismiss" => "toast", :type => "button"}
          
                      
-# %div{:id => 'toasts', :style => "position: fixed; top: 2rem; right: 1rem;z-index:999999999"}
-#   - if notice
-#     .mb-2.toast.hide.border-primary{"data-controller" => "toast"}
-#       .toast-header.text-primary
-#         %strong.me-auto= icon_with_text("check-circle", "success")
-#         %button.btn-close{"data-bs-dismiss" => "toast"}
-#       .toast-body= notice
-#   - if alert
-#     .mb-2.toast.hide.border-danger{"data-controller" => "toast"}
-#       .toast-header.text-danger
-#         %strong.me-auto= icon_with_text("exclamation-circle", "error")
-#         %button.btn-close{"data-bs-dismiss" => "toast"}
-#       .toast-body= alert

