%div{:style => "position: fixed; top: 2rem; right: 1rem;z-index:999999999"}
  / Then put toasts within
  - flash.each do |name, msg|
    .toast{class: "toast-#{name.to_s}","aria-atomic" => "true", "aria-live" => "assertive", :role => "alert",data: {autohide: 'false',controller: 'toast'}}
      .toast-header
        %strong.mr-auto
          -# = Settings.app_name
          communicator
        -# %small.text-muted just now
        %button.ms-auto.mb-1.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
      .toast-body
        = msg.html_safe

-# %div{:id => 'toasts', :style => "position: fixed; top: 2rem; right: 1rem;z-index:999999999"}
-#   - if notice
-#     .mb-2.toast.hide.border-primary{"data-controller" => "toast"}
-#       .toast-header.text-primary
-#         %strong.me-auto= icon_with_text("check-circle", "success")
-#         %button.btn-close{"data-bs-dismiss" => "toast"}
-#       .toast-body= notice
-#   - if alert
-#     .mb-2.toast.hide.border-danger{"data-controller" => "toast"}
-#       .toast-header.text-danger
-#         %strong.me-auto= icon_with_text("exclamation-circle", "error")
-#         %button.btn-close{"data-bs-dismiss" => "toast"}
-#       .toast-body= alert

