- if community.favorited_by?(current_user)
  = form_with url: community_favorite_community_path(community), method: :delete, data: { turbo: true, remote: true } do
    %button.btn
      = embedded_svg('favorited_star.svg',class: "")
- else 
  = form_with url: community_favorite_community_path(community), method: :post, data: { turbo: true, remote: true } do
    %button.btn
      = embedded_svg('star.svg',class: "")