.modal.fade{"aria-hidden" => "true", "data-modal-target" => "modal", :tabindex => "-1"}
  .relationship-modal.modal-dialog.modal-dialog-scrollable.modal-md
    .modal-content.h-75
      .modal-header
        %strong.modal-title フォロワー

      .modal-body
        - if @user.followers.present?
          - @user.followers.each do |follower|
            = render 'follower', follower: follower
        - else
          %h6
            .text-center.my-5.py-5.text-secondary{style: "font-size: 1.1rem"}
              フォロワーはまだいません
          


      .modal-footer
        %button.btn.btn-secondary{"data-action" => "click->modal#close", :type => "button"} Close
