.modal.fade{"aria-hidden" => "true", "data-modal-target" => "modal", :tabindex => "-1"}
  .relationship-modal.modal-dialog.modal-dialog-scrollable.modal-md
    .modal-content.h-75
      .modal-header
        %strong.modal-title フォロー

      .modal-body
        - if @user.followings.present?
          - @user.followings.each do |following|
            = render 'following', following: following
        - else
          %h6
            .text-center.my-5.py-5.text-secondary{style: "font-size: 1.1rem"}
              まだフォローしていません
      .modal-footer
        %button.btn.btn-secondary{"data-action" => "click->modal#close", :type => "button"} Close
