.modal.fade{"aria-hidden" => "true", "data-modal-target" => "modal", :tabindex => "-1"}
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered.modal-md
    .modal-content.h-75
      .modal-header
        %strong.modal-title フォロー

      .modal-body
        - @user.followings.each do |following|
          = render 'following', following: following

      .modal-footer
        %button.btn.btn-secondary{"data-action" => "click->modal#close", :type => "button"} Close
