= turbo_frame_tag :followers do
  %button.text-center{"data-action" => "click->modal#open", class: 'relationship-count'}
    %span.button-text  
      フォロワー
    %br
    %span.following-count
      = @user.followers.count
      
