#followingModal.modal.fade{"data-controller" => "modal", "data-modal-target" => "modal"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Following
        %button.close{"type" => "button", "data-dismiss" => "modal", "data-action" => "click->modal#close"} ×
      .modal-body
        / フォロー中のユーザーのリストがここに表示されます
