.biograpy.m-4
  自己紹介
  %br ここに自己紹介が入ります
.birthday.m-4
  生年月日
  %br ここに生年月日が入ります
.job-title.m-4
  職種
  %br ここに職種が入ります
.years_of_experience.m-4
  エンジニア歴
  %br ここにエンジニア歴が入ります
.company.m-4
  在籍企業
  %br ここに在籍企業が入ります