.container.my-5
  .row
    .col-lg-8.offset-lg-2
      .card
        .card-body
          %h4.card-title Your Profile
          .card-text
            %h5= @user.user_name
            %p= @user.email
          = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary'
