<%# <div data-controller="toast">
  <input data-toast-target="name" type="text">

  <button data-action="click->toast#greet">
    Greet
  </button>

  <span data-toast-target="output">
  </span>
</div> %>

<!--HTML from anywhere-->
<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>