%section#about-page
  .container.m-5
    %h1.title 
      About
    %p.intro
      Communicatorは、個々の人々や組織と組織との繋がりを深めるための新しいプラットフォームです。
      %br
      人々が個人的なつながりを深めたり、ビジネスでのコラボレーションを生み出したり、新たなチャンスを探求するための手助けをすることがCommunicatorの目指すところです。
