-# stimulus geometric-top-animation
.p-3.p-sm-5.mb-4.rounded{style: "position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;", data: { controller: "geometry-top-animation", "geometry-top-animation-target": "container" }}

.frame{style: "z-index: 100;" }
  .center.text-center
    %h1.top-container
      .text-center.pt-5.mt-5
        COMMUNICATOR!
    %h6
      #typing-animation.typing-animation.pt-3.mb-1{ data: { controller: "typing-action"}}
        .text-center.pb-5.pt-1{"data-typing-action-target" => "element"}
          -# The best career advice for engineers comes from engineers
-# -# 一番初期のトップ
-# .alert.alert-primary.row.shadow.p-3.mb-5.bg-white.rounded
-#   %h1.text-center COMMUNICATOR
-#   %top.text-center
-#     %th get community for your newRails
-#     %th puts your objective on COMMUNICATOR 
-#     %br
-#       ＃キャリア相談をしたいエンジニア同士の繋がり
-#       %br
-#       ＃エンジニアのキャリアチェンジはエンジニアに相談

%main.container
  .row
    .col-lg-9
      = render 'layouts/parts/top_buttons'
      = render 'layouts/parts/communities'
    .col-lg-3
      = render 'layouts/parts/side_menu'
