.frame.mb-3
  .center.text-center
    %h1.top-container
      .text-center.pt-5.mt-5
        COMMUNICATOR
    %h6
      .text-center.pb-5.pt-1.mb-5
        The best career advice for engineers comes from engineers
        %br
          .small
            (英語から日本語にカタカタ変わるようにしたい)

-# stimulusテスト
-# %div{"data-controller" => "hello"}
-#   %input{"data-hello-target" => "name", :type => "text"}/
-#   %button{"data-action" => "click->hello#greet"}
-#     Greet
-#   %span{"data-hello-target" => "output"}


  -# 過去のトップページたち
  -# SVG利用モデル
    .line
    %svg.text{:height => "200px", :viewbox => "0 0 300 80", :width => "500px"}
      = embedded_svg('communicator.svg',class: "a1")
      = embedded_svg('communicator.svg',class: "a2")
      = embedded_svg('communicator.svg',class: "a3")
    .line

-# 一番初期の
-# .alert.alert-primary.row.shadow.p-3.mb-5.bg-white.rounded
-#   %h1.text-center COMMUNICATOR
-#   %top.text-center
-#     %th get community for your newRails
-#     %th puts your objective on COMMUNICATOR 
-#     %br
-#       ＃キャリア相談をしたいエンジニア同士の繋がり
-#       %br
-#       ＃エンジニアのキャリアチェンジはエンジニアに相談


%main.container
  .row
    =render 'layouts/parts/communities'
    
    .col-lg-3
      %aside_container
        ※サイドバー実装予定
        %br
        %br
        【転職サイトランキング実装予定】
        %br
        『⭐︎エンジニアの皆様、このサイトを良くする意見を下さい⭐︎』
        %br
        %br
        『⭐︎エンジニアの皆様、おすすめ転職サイトの意見をください⭐︎』
        %br
        %br
        『エンジニアの皆様、サイトの不具合を教えてください」』
        %br
        %br
        『エンジニアの皆様、一緒にこのサイトを作りませんか？』

    .col-4.d-flex.justify-content-end
      = link_to icon_with_text("plus-circle", "New Community"), |
        new_community_path,                          |
        class: "btn btn-outline-primary"             |




-# %br
-# = paginate @communities, theme: 'bootstrap-5'
-# = link_to 'New Community', new_community_path


