.frame.mb-3
  .center.text-center
    %h1.top-container
      .text-center.pt-5.mt-5
        COMMUNICATOR
    %h6
      #typing-animation.typing-animation.pt-3.mb-5{ data: { controller: "typing-action"}}
        .text-center.pb-5.pt-1{"data-typing-action-target" => "element"}
          -# The best career advice for engineers comes from engineers

-# stimulusテスト
-# %div{"data-controller" => "hello"}
-#   %input{"data-hello-target" => "name", :type => "text"}/
-#   %button{"data-action" => "click->hello#greet"}
-#     Greet
-#   %span{"data-hello-target" => "output"}

-# 過去のトップページたち
-# SVG利用モデル
-# .line
-# %svg.text{:height => "200px", :viewbox => "0 0 300 80", :width => "500px"}
-#   = embedded_svg('communicator.svg',class: "a1")
-#   = embedded_svg('communicator.svg',class: "a2")
-#   = embedded_svg('communicator.svg',class: "a3")
-# .line

-# 一番初期の
-# .alert.alert-primary.row.shadow.p-3.mb-5.bg-white.rounded
-#   %h1.text-center COMMUNICATOR
-#   %top.text-center
-#     %th get community for your newRails
-#     %th puts your objective on COMMUNICATOR 
-#     %br
-#       ＃キャリア相談をしたいエンジニア同士の繋がり
-#       %br
-#       ＃エンジニアのキャリアチェンジはエンジニアに相談

%main.container
  .row
    .col-lg-9
      = render 'layouts/parts/communities'
    .col-lg-3
      = render 'layouts/parts/side_menu'
