-# stimulus geometric-top-animation
.bg-body-tertiary.p-3.p-sm-5.mb-4.rounded{style: "position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;", data: { controller: "geometry-top-animation", "geometry-top-animation-target": "container" }}

%h1.text-center.mb-4 
  エンジニアが選ぶ転職サイトランキング

= render 'job_sites'