%main.container
  .row
    .col-lg-9
      .community-container.mx-2.mt-4
        .community-head.d-flex.pt-4.mb-4
          .right-items.m-2{style: "flex-grow: 1;"}
            %h2.mb-0
              = @job_site.name

        - if @posts.present? 
          = render "communities/posts/posts" 
        - else

    .col-lg-3
      = render 'layouts/parts/side_menu'