= simple_form_for(@community) do |f|
  .form-inputs
    = f.label :community_tag_list
    = f.text_field :community_tag_list, value: @community.community_tag_list.join(',')

  .form-actions
    = f.submit 