%li.page-item
  = link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link', data: { controller: 'scroll-to-top', action: 'click->scroll-to-top#scrollToTop', turbo_stream: true }
