.communities
  // layouts/parts/communities
  .community
    a.community
      inset: 0
      z-index: 0
      position: relative
    &:hover
      background-color: #f7f7f7
    .community-name
      font-size: 1.15rem
      padding-right: 1.0rem
    .community-items
      padding-right: 0.7rem
  .favorite_communities
    .btn  
      z-index: 1000
      position: absolute
      right: 15px
      top: 5px
      size: 2.0rem
    svg
      width: 18px
      height: 18px
    .favorited
      color: #ffd416
      &:hover
        color: #ffd416
        transform: scale(1.3, 1.3)
    .favorite
      color: #212120
      &:hover
        color: #ffd416
        transform: scale(1.3, 1.3)

  // tagify入力リスト
  .tagify
    width: 100%
    max-width: 700px

  .tags-look
    .tagify__dropdown__item
      display: inline-block
      border-radius: 3px
      padding: .3em .5em
      border: 1px solid #CCC
      background: #F3F3F3
      margin: .2em
      font-size: .85em
      color: black
      transition: 0s

    .tagify__dropdown__item--active
      color: black

    .tagify__dropdown__item:hover
      background: lightyellow
      border-color: gold


  // 新規コミュニティ作成フォーム
  .form-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 500px
    @media (max-width: 767px)
      padding-left: 15px
      padding-right: 15px

    /* 右側の余白を追加
    // フォームの幅を大きくする
    // padding: 30px
    // background-color: #ffffff
    // border-radius: 10px
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
    .stylish-input
      border: none
      border-bottom: 2px solid #9e9e9e
      border-radius: 0
      outline: none
      box-shadow: none
      transition: all 0.3s ease
      font-size: 18px
      padding: 15px 10px
      background-color: #fff
      box-shadow: 0 0 0px 1000px #ffffff inset
      &:focus
        border-bottom: 2px solid #3f3f3f


    .form-title
      font-weight: bold
      font-size: 24px
      color: #3f3f3f
      text-align: center

    .zozo-button
      background-color: #3f3f3f
      border: none
      color: #ffffff
      font-weight: bold
      transition: all 0.3s ease
      float: right
      &:hover
        background-color: #2a2a2a
        color: #ffffff

  
  
  .community-head
    width: auto
    height: auto
    min-height: 12rem
    border-radius: 2px
    box-shadow: 1px 2px 10px 0px #c7c6c64d
    overflow: hidden
    background: #fbfbfb
    color: #515152
    font-size: 1.1rem
  // geometic_animation
  .bg-body-tertiary
    color: #454545

  // 検索ボタン
  .custom-search-button
    &:hover
      color: #060708
      background-color: #f7f7f7
      transform: scale(1.03, 1.03)

  /*post吹き出し
  .balloon_l
    margin: 15px 0
    display: flex
    justify-content: flex-start
    align-items: flex-start
  .balloon_r
    margin: 15px 0
    display: flex
    justify-content: flex-start
    align-items: flex-start
    justify-content: flex-end
  .faceicon img
    width: 80px
    /*任意のサイズ
    height: auto
  .balloon_r .faceicon
    margin-left: 18px
  .balloon_l .faceicon
    margin-right: 18px
  .balloon_r .faceicon
    order: 2 !important
  .says
    max-width: 750px
    display: flex
    flex-wrap: wrap
    position: relative
    padding: 17px 14px 15px 14px
    border-radius: 12px
    background: #F8F9FA
    box-sizing: border-box
    margin: 0 !important
    line-height: 1.5
    white-space: pre-wrap
    word-wrap: break-word
    p
      margin: 8px 0 0 !important
      &:first-child
        margin-top: 0 !important
  .balloon_l .says:after
    left: -26px
    border-right: 22px solid #F8F9FA
  .balloon_r .says:after
    right: -26px
    border-left: 22px solid  #F8F9FA

  // 新規投稿ボタン
  .new_post_button
    // col-9コンテナの右下に固定
    z-index: 1000
    display: flex
    justify-content: center
    @media (min-width: 992px)
      justify-content: end
    position: -webkit-sticky
    position: sticky
    top: 91.20%
    width: 98%
    .post-button
      background-color: transparent
      border: 2px solid #609ECC
      border-radius: 25px
      display: flex
      align-items: center
      cursor: pointer
      transition: 0.3s
      padding: 8px 16px
      outline: none
      background-color: #fff
      color: #ffffff
      font-weight: bold
      transition: background-color 0.3s, box-shadow 0.3s
      text-decoration: none
      &:hover
        background-color: #609ECC
        color: #ffffff
    .post-text
      font-size: 16px
      color: #609ECC
      font-weight: bold
      margin-left: 8px
    .post-button:hover .post-text
      color: #fff
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3)
    .bi.bi-send-plus-fill
      color: #609ECC
    .post-button:hover .bi.bi-send-plus-fill
      color: #fff
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3)

  // 新規POSTフォーム
  .new-post
    @media (max-width: 993px)
      justify-content: center
    .new-post-form
      z-index: 1000
      
      position: fixed
      bottom: 2%
      width: 78%
      @media (max-width: 992px)
        width: 90%

      background-color: #f8f9fa
      padding: 5px 20px 20px 15px
      border-radius: 20px
      border: 2px solid #c4c4c4
      background-color: #ffffff

      .input-group
        position: relative
        display: flex


        .form-control
          border-radius: 10px
          padding: 10px 20px
          height: auto
          border: 2px solid #c4c4c4
          height: 95px
          @media (max-width: 992px)
            height: auto
            
          &:focus
            border: 2px solid #609ECC
        .form-group
          width: 100%
          margin-top: 16px



    .btn-post
      border-radius: 25px
      font-weight: bold
      border-color: rgb(13, 202, 240)
      color: #609ECC
      background-color: #ffffff
      border: 2px solid #609ECC
      &:hover
        background-color: #609ECC
        color: #ffffff
    .btn-cancel
      border-radius: 25px
      font-weight: bold
      color: #aaa
      border: 2px solid #aaa
      background-color: #ffffff
      &:hover
        color: #ffffff
        background-color: #aaa





  // サイドメニュー
  .col-lg-3

    // ここだけhomeと違う
    margin-top: 100px
    margin-bottom: 60px
    @media (min-width: 992px)
      display: flex
      margin-top: 102.5px

    .sticky-card-items
      position: -webkit-sticky
      position: sticky
      top: 80px
      .card-items-top
        width: 100%
        height: 4.0rem
        border-radius: 2px
        box-shadow: 1px 2px 10px 0px #c7c6c64d
        overflow: hidden
        background: #fbfbfb
        color: #6C757D
        font-size: 1.1rem
      .side-menu-card
        width: 100%
        height: 7.0rem
        border-radius: 2px
        box-shadow: 1px 2px 10px 0px #c7c6c64d
        overflow: hidden
        background: #fbfbfb
        color: #6C757D
        font-weight: bold
        cursor: pointer
        transition: all 0.3s ease
        &:hover
          color: #464545
          background-color: #f7f7f7
          border-color: #c4c4c4
          transform: scale(1.03, 1.03)
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)

  // 新規コミュニティ作成後のgeometric_animation
  @keyframes move
    0%
      transform: translateY(0) rotate(0)
    100%
      transform: translateY(-100%) rotate(360deg)


  // ページネーション
  .pagination-container
    justify-content: end
    
    @media (max-width: 767px)
      justify-content: center
    .pagination
      display: flex
      justify-content: center
      align-items: center
      list-style: none
      padding: 0

    .page-item
      margin: 0 6px
      @media (max-width: 767px)
        margin: 0 3px

    .page-link
      display: block
      padding: 4.5px 10px
      font-size: 14px
      font-weight: bold
      text-decoration: none
      color: #3f3f3f
      background-color: #ffffff
      border: 1px solid #dcdcdc
      border-radius: 16px
      transition: background-color 0.3s, border-color 0.3s

    .page-item.active .page-link, .page-link:hover
      background-color: #dcdcdc
      color: #3f3f3f
      border-color: #dcdcdc

    .page-item.disabled .page-link
      color: #999999
      background-color: #ffffff
      border-color: #999999
      cursor: not-allowed

    .page-link
      &[data-direction="prev"], &[data-direction="next"]
        padding: 6px
        width: 24px
        height: 24px
        display: flex
        align-items: center
        justify-content: center
  
  .zozo-button
    background-color: #3f3f3f
    border: none
    color: #ffffff
    font-weight: bold
    transition: all 0.3s ease
    // float: right
    &:hover
      background-color: #2a2a2a
      color: #ffffff

  // ガイダンスモーダル
  .modal
    .modal-dialog
      // max-width: 500px
      margin-top: 15%
      z-index: 9999999
      border: none
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

      .modal-header
        background-color: #f0f0f0
        border-bottom: 1px solid #e0e0e0
        padding: 12px 24px
        border-bottom: none
      .modal-content
        border: none
        border-radius: 16px
        z-index: 999999999
        .modal-title
          // font-size: 18px
          font-weight: bold
          color: #3f3f3f

        .modal-body
          padding: 30px 24px
          font-size: 14px
          color: #3f3f3f

        .modal-footer
          background-color: #f0f0f0
          border-top: 1px solid #e0e0e0
          padding: 12px 24px
          display: flex
          justify-content: flex-end
          border-top: none

          .btn
            font-size: 14px
            font-weight: bold
            color: #3f3f3f
            background-color: #ffffff
            border: 1px solid #dcdcdc
            border-radius: 16px
            padding: 6px 12px
            margin-left: 8px
            &:hover
              background-color: #dcdcdc
              color: #3f3f3f
              border-color: #dcdcdc

  // ガイダンスモーダルのクエスチョンボタン
  .question-mark-button
    position: fixed
    bottom: 30px
    right: 15px
    background-color: transparent
    border: 2px solid #aaa
    border-radius: 50%
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: 0.3s
    padding: 0
    outline: none
    &:hover
      background-color: #aaa

  .question-mark
    font-size: 20px
    color: #aaa
    font-weight: bold
  .question-mark-button:hover .question-mark
    color: #fff





  // tagify用
  \:root
  --tagify-dd-color-primary: #9e9e9e

  // should be same as "$tags-focus-border-color"
  --tagify-dd-bg-color: white
  .tagify
    
    // SCSS "default" allows overriding variables BEFORE they are set in the below lines of code
    $self: &
    $tags-border-color: #DDD !default
    $tags-hover-border-color: #CCC !default
    $tags-focus-border-color: #9e9e9e !default
    $tagMargin: 5px !default
    $tag-pad: 0.3em 0.5em !default
    $tag-text-color: black !default
    $tag-text-color--edit: black !default
    $tag-bg: #E5E5E5 !default
    $tag-hover: #D3E2E2 !default
    $tag-remove: #D39494 !default
    $tag-remove-btn-bg: none !default
    $tag-remove-btn-bg--hover: darken($tag-remove, 8) !default
    $tag-invalid-color: $tag-remove !default
    $tag-invalid-bg: rgba($tag-remove, 0.5) !default
    $tag-inset-shadow-size: 1.1em !default
    $placeholder-color: $tag-text-color !default


    // CSS variables
    --tags-border-color: #{$tags-border-color}
    --tags-hover-border-color: #{$tags-hover-border-color}
    --tags-focus-border-color: #{$tags-focus-border-color}
    --tag-bg: #{$tag-bg}
    --tag-hover: #{$tag-hover}
    --tag-text-color: #{$tag-text-color}
    --tag-text-color--edit: #{$tag-text-color--edit}
    --tag-pad: #{$tag-pad}
    --tag-inset-shadow-size: #{$tag-inset-shadow-size}
    --tag-invalid-color: #{$tag-invalid-color}
    --tag-invalid-bg: #{$tag-invalid-bg}
    --tag-remove-bg: #{rgba($tag-remove, 0.3)}
    --tag-remove-btn-bg: #{$tag-remove-btn-bg}
    --tag-remove-btn-bg--hover: #{$tag-remove-btn-bg--hover}
    --tag--min-width: 1ch
    --tag--max-width: auto
    --tag-hide-transition: .3s
    --placeholder-color: #{$placeholder-color}
    --loader-size: .8em

    =placeholder($show: true, $opacity: 0.5)
      transition: .2s ease-out

      @if $show == true
        opacity: $opacity
        transform: none
      @else
        opacity: 0
        transform: translatex(6px)

    =tagReadonlyBG
      background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0 / 5px 5px
      box-shadow: none
      filter: brightness(0.95)

    @keyframes tags--bump
      30%
        transform: scale(1.2)

    @keyframes rotateLoader
      to
        transform: rotate(1turn)

    display: flex
    align-items: flex-start
    flex-wrap: wrap
    border: 1px solid $tags-border-color
    border: 1px solid var(--tags-border-color)
    padding: 0
    line-height: 1.1
    cursor: text
    outline: none
    position: relative
    transition: .1s

    &:hover
      border-color: $tags-hover-border-color
      border-color: var(--tags-hover-border-color)

    &.tagify--focus
      transition: 0s
      border-color: $tags-focus-border-color
      border-color: var(--tags-focus-border-color)

    // Global "read-only" mode (no input button)
    &[readonly]
      cursor: default

      > #{$self}__input
        visibility: hidden
        width: 0
        margin: $tagMargin 0

      #{$self}__tag__removeBtn
        display: none

      #{$self}__tag > div
        padding: $tag-pad
        padding: var(--tag-pad)

        &::before
          +tagReadonlyBG

    &--loading
      #{$self}__input
        &::before
          content: none

        &::after
          content: ''
          vertical-align: middle
          margin: -2px 0 -2px .5em
          opacity: 1
          width: .7em
          height: .7em
          width: var(--loader-size)
          height: var(--loader-size)
          border: 3px solid
          border-color: #EEE #BBB #888 transparent
          border-radius: 50%
          animation: rotateLoader .4s infinite linear

        &:empty
          &::after
            margin-left: 0

    ///////////////////////////////////////////
    // Hides originals
    + input,
    + textarea
      display: none !important

    &__tag
      display: inline-flex
      align-items: center
      margin: $tagMargin 0 $tagMargin $tagMargin
      position: relative
      z-index: 1
      outline: none
      cursor: default
      transition: .13s ease-out

      > div
        // :not([contenteditable])
        vertical-align: top
        box-sizing: border-box
        max-width: 100%
        padding: $tag-pad
        padding: var(--tag-pad)
        color: $tag-text-color
        color: var(--tag-text-color)
        line-height: inherit
        border-radius: 3px
        user-select: none
        transition: .13s ease-out

        > *
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          display: inline-block
          vertical-align: top
          min-width: var(--tag--min-width)
          max-width: var(--tag--max-width)
          transition: .8s ease, .1s color

          &[contenteditable]
            outline: none
            user-select: text
            cursor: text

            // fix: sometimes the caret after the last character wasn't visible (when setting {backspace:"edit"})
            margin: -2px
            padding: 2px
            max-width: 350px

        &::before
          content: ''
          position: absolute
          border-radius: inherit
          left: 0
          top: 0
          right: 0
          bottom: 0
          z-index: -1
          pointer-events: none
          transition: 120ms ease
          animation: tags--bump .3s ease-out 1
          box-shadow: 0 0 0 $tag-inset-shadow-size $tag-bg inset
          box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-bg) inset

      &:hover:not([readonly])
        div
          // :not([contenteditable])
          &::before
            $size: -$tagMargin / 2
            $size: -2px

            top: $size
            right: $size
            bottom: $size
            left: $size
            box-shadow: 0 0 0 $tag-inset-shadow-size $tag-hover inset
            box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-hover) inset

            //  box-shadow: 0 0 0 0 $tag-remove inset

          // background:nth($tagColor,2)
          //background:none
          // box-shadow: 0 0 0 2px $tag-hover inset
          // transition:50ms

      &#{$self}
        &--noAnim
          > div::before
            animation: none

        &--hide
          width: 0 !important
          padding-left: 0
          padding-right: 0
          margin-left: 0
          margin-right: 0
          opacity: 0
          transform: scale(0)
          transition: .3s
          transition: var(--tag-hide-transition)
          pointer-events: none

        &--mark
          div::before
            animation: none

        &--notAllowed:not(.tagify__tag--editable)
          div
            > span
              opacity: .5

            // filter:blur(.2px)
            &::before
              box-shadow: 0 0 0 $tag-inset-shadow-size $tag-invalid-bg inset !important
              box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-invalid-bg) inset !important
              transition: .2s

      &[readonly]
        #{$self}__tag__removeBtn
          display: none

        > div
          // padding: $tag-pad
          &::before
            +tagReadonlyBG

      &--editable
        > div
          color: $tag-text-color--edit
          color: var(--tag-text-color--edit)

          &::before
            box-shadow: 0 0 0 2px $tag-hover inset !important
            box-shadow: 0 0 0 2px var(--tag-hover) inset !important

        &.tagify--invalid
          > div
            &::before
              box-shadow: 0 0 0 2px $tag-invalid-color inset !important
              box-shadow: 0 0 0 2px var(--tag-invalid-color) inset !important

    &__tag__removeBtn
      $size: 14px

      order: 5
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 50px
      cursor: pointer
      font: #{$size} Serif
      background: $tag-remove-btn-bg
      background: var(--tag-remove-btn-bg)
      color: $tag-text-color
      color: var(--tag-text-color)
      width: $size
      height: $size
      margin-right: $size / 3
      margin-left: -$size / 3
      transition: .2s ease-out

      &::after
        content: "\00D7"

      &:hover
        color: white
        background: $tag-remove-btn-bg--hover
        background: var(--tag-remove-btn-bg--hover)

        // + span{ box-shadow: 0 0 0 2px $tag-remove inset transition:.2s }
        + div
          > span
            opacity: .5

          // filter:blur(.2px)
          &::before
            box-shadow: 0 0 0 $tag-inset-shadow-size rgba($tag-remove, 0.3) inset !important
            box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-remove-bg) inset !important
            transition: .2s

    &:not(#{$self}--mix)
      #{$self}__input
        // https://stackoverflow.com/a/13470210/104380
        br
          display: none

        *
          display: inline
          white-space: nowrap

    ///////////////////////////////////////////
    // Holds the placeholder & the tags input
    &__input
      $placeholder-width: 110px

      =placeholder-show
        opacity: .5
        transform: none

      display: block
      min-width: $placeholder-width
      margin: $tagMargin
      padding: $tag-pad
      padding: var(--tag-pad, $tag-pad)
      line-height: inherit
      position: relative
      white-space: pre-line

      // #160 Line break (\n) as delimeter

      &::before
        display: inline-block
        width: 0

      &:empty
        @supports (-moz-appearance: none)
          display: flex

          // https://bugzilla.mozilla.org/show_bug.cgi?id=904846#c45

        &::before
          +placeholder

          width: auto

      &:focus
        outline: none

        &::before
          +placeholder(false)

          @supports (-moz-appearance: none)
            display: none

          /* ALL MS BROWSERS: hide placeholder (on focus) otherwise the caret is places after it, which is weird
          /* IE10+ CSS styles go here
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            display: none

          /* IE Edge 12+ CSS styles go here
          @supports (-ms-ime-align: auto)
            display: none

        &:empty::before
          +placeholder(true, 0.3)

          @supports (-moz-appearance: none)
            display: inline-block

      // &:empty:focus{ padding:$tag-pad }

      &::before
        content: attr(data-placeholder)
        position: absolute
        top: 0
        bottom: 0
        height: 1em
        margin: auto 0
        z-index: 1
        color: $placeholder-color
        color: var(--placeholder-color)
        white-space: nowrap
        pointer-events: none
        opacity: 0

        #{$self}--mix &
          position: static
          line-height: inherit

      // /* Seems firefox newer versions don't need this any more
      // *      @supports ( -moz-appearance:none ){
      // *          &::before{
      // *              line-height: inherit
      // *              position: relative
      // *          }
      // *      }
      // tries to suggest the rest of the value from the first item in the whitelist which matches it
      &::after
        content: attr(data-suggest)
        display: inline-block
        white-space: pre

        /* allows spaces at the beginning
        color: $tag-text-color
        opacity: .3
        pointer-events: none
        max-width: 100px

      // &--invalid{
      //     // color: $invalid-input-color
      // }

      /*
      // *  in "mix mode" the tags are inside the "input" element
      #{$self}__tag
        margin: 0

        // a developer can choose to have automatic horizontal margin ("1ch" advised) between tags or use manual keyboard spaces
        // line-height: 1.1

        > div
          padding-top: 0
          padding-bottom: 0

    &--mix
      line-height: 1.7

      #{$self}__input
        padding: $tagMargin
        margin: 0
        width: 100%
        height: 100%
        line-height: inherit

        &::before
          height: auto

        // no suggested-complete are shown in mix-mode while higilighting dropdown options
        &::after
          content: none

    &--select
      &::after
        $size: 16px

        content: '>'
        opacity: .5
        position: absolute
        top: 50%
        right: 0
        bottom: 0
        font: $size monospace
        line-height: $size / 2
        height: $size / 2
        pointer-events: none
        transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg)
        transition: .2s ease-in-out

      &[aria-expanded=true]
        &::after
          transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2)

      #{$self}__tag
        position: absolute
        top: 0
        right: 1.8em
        bottom: 0

        div
          display: none

      #{$self}__input
        width: 100%

    &--invalid
      --tags-border-color: #{$tag-invalid-color}

    // Since the dropdown is an external element, which is positioned directly on the body element
    // it cannot ingerit the CSS variables applied on the ".Tagify" element
    &__dropdown
      $dropdown: &
      $trans: 0.25s cubic-bezier(0, 1, 0.5, 1)

      position: absolute
      z-index: 1
      transform: translateY(1px)
      overflow: hidden

      &[placement="top"]
        margin-top: 0
        transform: translateY(-2px)

        #{$dropdown}__wrapper
          border-top-width: 1px
          border-bottom-width: 0

      // when the dropdown shows next to the caret while typing
      &--text
        box-shadow: 0 0 0 3px rgba(var(--tagify-dd-color-primary), 0.1)
        font-size: .9em

        #{$dropdown}__wrapper
          border-width: 1px

      &__wrapper
        max-height: 300px
        overflow: hidden
        background: white
        background: var(--tagify-dd-bg-color)
        border: 1px solid $tags-focus-border-color
        border-color: var(--tagify-dd-color-primary)
        border-top-width: 0
        box-shadow: 0 2px 4px -2px rgba(black, 0.2)

        // box-sizing: border-box
        transition: $trans

        &:hover
          overflow: auto

      // intial state, pre-rendered
      &--initial
        #{$dropdown}__wrapper
          max-height: 20px
          transform: translateY(-1em)

        &[placement="top"]
          #{$dropdown}__wrapper
            transform: translateY(2em)

      &__item
        box-sizing: inherit
        padding: $tag-pad
        margin: 1px
        cursor: pointer
        border-radius: 2px
        position: relative
        outline: none

        &--active
          background: $tags-focus-border-color
          background: var(--tagify-dd-color-primary)
          color: white

        &:active
          filter: brightness(105%)

      // /* CURRENTLY NOT USED
      // *&__addNewBtn{
      // *  width: 1.22em
      // *  height: 1.22em
      // *  line-height: 1
      // *  font-size: 1.2em
      // *  border-radius: 50%
      // *  text-align: center
      // *  background: $tags-focus-border-color
      // *  background: var(--tagify-dd-color-primary)
      // *  color: white
      // *  color: var(--tagify-dd-bg-color)
      // *  border: none
      // *  cursor: pointer
      // *}