%main.container.mt-3
  .row
    .col-lg-9
      =render 'layouts/parts/communities'
    
    .col-lg-3
      %aside_container
        【転職サイトランキング実装予定】
        %br
        『エンジニアの皆様、転職サイトの特徴を教えてください』
        %br
        『エンジニアの皆様、サイトの不具合を教えてください」』
        %br
        『エンジニアの皆様、一緒にこのサイトを作りませんか？』
