.main
  height: 100vh
  display: flex
  align-items: center
  padding-top: 60px
  padding-bottom: 60px
  background-color: #f4f4f4

.form-signin 
  max-width: 330px
  padding: 15px

.form-signin .form-floating:focus-within 
  z-index: 2

.devise-links a
  text-decoration: none
  color: #11b8ce

// 自己表記　simple form
.email.optional
  margin-bottom: 5px

input[type="email"] 
  padding: 10px 12px 10px 12px
  margin-bottom: 0px

input[type="password"] 
  padding: 10px 12px 10px 12px
  
// サインイン・ログインフォーム
.form-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%
  max-width: 500px
  @media (max-width: 767px)
    max-width: 95%  

  /* 右側の余白を追加
  // フォームの幅を大きくする
  padding: 30px
  background-color: #ffffff
  border-radius: 10px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)

  .stylish-input
    border: none
    border-bottom: 2px solid #9e9e9e
    border-radius: 0
    outline: none
    box-shadow: none
    transition: all 0.3s ease
    font-size: 18px
    padding: 15px 10px
    background-color: #fff
    box-shadow: 0 0 0px 1000px #ffffff inset
    &:focus
      border-bottom: 2px solid #3f3f3f


  .form-title
    font-weight: bold
    font-size: 24px
    color: #3f3f3f
    text-align: center

  .zozo-button
    background-color: #3f3f3f
    border: none
    color: #ffffff
    font-weight: bold
    transition: all 0.3s ease
    float: right
    &:hover
      background-color: #2a2a2a
      color: #ffffff

.user-avatar 
  width: 150px
  height: 150px
  border-radius: 50%
  object-fit: cover
  border: 4px solid #F8F9FA
  
.avatar-upload
  position: relative
  width: fit-content
  margin: auto

.avatar-input
  position: absolute
  width: 100%
  height: 100%
  opacity: 0
  cursor: pointer

.avatar-img
  width: 200px
  height: 200px
  border-radius: 50%
  object-fit: cover

// ユーザー詳細画面
.profile-container
  .profile-card
    padding: 20px
    margin: 20px
    @media (min-width: 992px)
      padding: 30px
      margin: 60px
    background-color: #ffffff
    border-radius: 10px
    box-shadow: 0 0 8px rgba(80, 79, 79, 0.1)
    border: none
  .community
    border-radius: 4px
    padding: 9px
    margin-right: 20px
    margin-left: 20px
    @media (min-width: 992px)
      padding: 1px
    &:hover
      background-color: #f7f7f7
      border-radius: 4px
    .user-avatar 
      width: 35px
      height: 32px
      border-radius: 50%
      object-fit: cover
      border: 4px solid #F8F9FA
      margin-right: 8px

  .active-sort-menu
    background: #fefefe
    position: relative
    z-index: 100
    .nav-link
      color: #5d5d5d
      font-size: 0.7rem
    

  // ページネーション
  .pagination-container
    justify-content: center
    .pagination
      display: flex
      justify-content: center
      align-items: center
      list-style: none
      padding: 0

    .page-item
      margin: 0 6px
      @media (max-width: 767px)
        margin: 0 3px

    .page-link
      display: block
      padding: 4.5px 10px
      font-size: 14px
      font-weight: bold
      text-decoration: none
      color: #3f3f3f
      background-color: #ffffff
      border: 1px solid #dcdcdc
      border-radius: 16px
      transition: background-color 0.3s, border-color 0.3s

    .page-item.active .page-link, .page-link:hover
      background-color: #dcdcdc
      color: #3f3f3f
      border-color: #dcdcdc

    .page-item.disabled .page-link
      color: #999999
      background-color: #ffffff
      border-color: #999999
      cursor: not-allowed

    .page-link
      &[data-direction="prev"], &[data-direction="next"]
        padding: 6px
        width: 24px
        height: 24px
        display: flex
        align-items: center
        justify-content: center


  .zozo-button
    background-color: #3f3f3f
    border: none
    color: #ffffff
    font-weight: bold
    transition: all 0.3s ease
    margin-bottom: 60px
    &:hover
      background-color: #2a2a2a
      color: #ffffff

.sns-links 
  margin-top: 15px
  .sns-icon
    max-width: 40px
    max-height: 40px
    border-radius: 25%
    margin: 9px
    transition: all 0.3s ease
  .sns-icon-active
    max-width: 40px
    max-height: 40px
    border-radius: 25%
    margin: 9px
    transition: all 0.3s ease
    &:hover
      color: #464545
      border-color: #c4c4c4
      transform: scale(1.2, 1.2)
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)

// relationshipモーダル
.modal
  .modal-dialog
    z-index: 9999999
    border: none

    .modal-header
      background-color: #f0f0f0
      border-bottom: 1px solid #e0e0e0
      padding: 12px 24px
      border-bottom: none
    .modal-content
      border: none
      border-radius: 16px
      z-index: 999999999
      .modal-title
        // font-size: 18px
        font-weight: bold
        color: #3f3f3f

      .modal-body
        padding: 5px 5% 20px 4%
        font-size: 14px
        color: #3f3f3f

      .modal-footer
        background-color: #f0f0f0
        border-top: 1px solid #e0e0e0
        padding: 12px 24px
        display: flex
        border-top: none

        .btn
          font-size: 14px
          font-weight: bold
          color: #3f3f3f
          background-color: #ffffff
          border: 1px solid #dcdcdc
          border-radius: 16px
          padding: 6px 12px
          margin-left: 8px
          &:hover
            background-color: #dcdcdc
            color: #3f3f3f
            border-color: #dcdcdc
.relationship-user
  margin-top: 15px 
  max-height: 65px
  .user-avatar
    width: 65px
    height: 65px
    border-radius: 50%
    object-fit: cover
    border: 4px solid #F8F9FA
    margin-right: 8px
  a 
    text-decoration: none
    .modal-relationship-user
      color: #3f3f3f

  .modal-relationship-button
    width: 90px
    .following-button
      background-color: #3f3f3f
      border: 1.5px solid #2a2a2a
      color: #ffffff
      font-weight: bold
      transition: all 0.3s ease
      min-width: 90px
      &:hover
        background-color: #f9f9f9
        color: #2a2a2a
    .follow-button
      background-color: #f9f9f9
      border: 1.5px solid #2a2a2a
      color: #2a2a2a
      font-weight: bold
      transition: all 0.3s ease
      min-width: 90px
      &:hover
        background-color: #3f3f3f
        color: #ffffff

.relationship-count
  background: none
  border: none
  font-size: 1rem
  color: #666 
  cursor: pointer
  margin: 8px
  .button-text 
    font-size: 0.9rem
    color: #666

  .following-count 
    font-size: 1.2rem
    color: #333